<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ebpearls_Interparcel>
            <version>0.1.0</version>
        </Ebpearls_Interparcel>
    </modules>
    <global>
        <helpers>
            <interparcel>
                <class>Ebpearls_Interparcel_Helper</class>
            </interparcel>
        </helpers>
        <blocks>
            <checkout>
                <rewrite>
                    <cart_shipping>Ebpearls_Interparcel_Block_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <interparcel>
                <class>Ebpearls_Interparcel_Model</class>
                <resourceModel>interparcel_mysql4</resourceModel>
            </interparcel>
            <interparcel_mysql4>
                <class>Ebpearls_Interparcel_Model_Mysql4</class>
                <entities>
                    <postcodes>
                        <table>interparcel_postcodes</table>
                    </postcodes>
                </entities>
            </interparcel_mysql4>
        </models>
        <resources>
            <interparcel_setup>
                <setup>
                    <module>Ebpearls_Interparcel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </interparcel_setup>
        </resources>
    </global>
    <admin>
	<routers>
	  <interparcel>
	    <use>admin</use>
            <args>
              <module>Ebpearls_Interparcel</module>
              <frontName>interparcel</frontName>
            </args>
	  </interparcel>
	</routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <interparcel>
                    <file>interparcel.xml</file>
                </interparcel>
            </updates>
        </layout>
    </adminhtml>    
    <default>
        <carriers>
            <interparcel>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>interparcel/carrier_shippingMethod</model>
                <name>Interparcel</name>
                <title>Interparcel</title>
                <price>5.00</price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </interparcel>
        </carriers>
    </default>
    <frontend>
        <layout>
            <updates>
                <interparcel>
                    <file>interparcel.xml</file>
                </interparcel>
            </updates>
        </layout>
    </frontend>
</config>